<div class="container">   
  <%= form_for @comment, url: comment_path(@comment) do |f| %>   
      <div>   
        <h3>Edit a Comment</h3>   
      </div>   
      <div>   
        <p>   
            
        <div>   
        <%= f.label :content, "Comment" %><br>  
              <%= f.text_field :content %>   
        </div>   
  
         
         </p>   
      </div>   
      <div>   
         
        <%= f.submit 'Comment' %>   
      </div>   
  <% end %>   
</div>  