<h3>Search Result</h3>  
<% if @results.count==0 %>
	<h3> Please enter correct username </h3>

<% else %>
  <% @results.each do |result| %>  
    <h3><%= result.username %><br></h3>  
  <% end %>
<% end %>    